@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  :root {
    --background: 43 63% 99%;
    --foreground: 43 72% 5%;
    --muted: 223 7% 88%;
    --muted-foreground: 223 7% 35%;
    --popover: 43 63% 99%;
    --popover-foreground: 43 72% 5%;
    --card: 43 63% 99%;
    --card-foreground: 43 72% 5%;
    --border: 43 8% 92%;
    --input: 43 8% 92%;
    --primary: 43 81% 49%;
    --primary-foreground: 43 81% 9%;
    --secondary: 223 81% 49%;
    --secondary-foreground: 0 0% 100%;
    --accent: 223 81% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 88% 27%;
    --destructive-foreground: 3 88% 87%;
    --ring: 43 81% 49%;
    --chart-1: 43 81% 49%;
    --chart-2: 223 81% 49%;
    --chart-3: 223 81% 49%;
    --chart-4: 223 81% 52%;
    --chart-5: 43 84% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 43 54% 2%;
    --foreground: 43 24% 99%;
    --muted: 223 7% 12%;
    --muted-foreground: 223 7% 65%;
    --popover: 43 54% 2%;
    --popover-foreground: 43 24% 99%;
    --card: 43 54% 2%;
    --card-foreground: 43 24% 99%;
    --border: 43 8% 10%;
    --input: 43 8% 10%;
    --primary: 43 81% 49%;
    --primary-foreground: 43 81% 9%;
    --secondary: 223 81% 49%;
    --secondary-foreground: 0 0% 100%;
    --accent: 223 81% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 88% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 43 81% 49%;
    --chart-1: 43 81% 49%;
    --chart-2: 223 81% 49%;
    --chart-3: 223 81% 49%;
    --chart-4: 223 81% 52%;
    --chart-5: 43 84% 49%;
  }
}
